html,
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: #01A3A4 !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: black!important;
    background-image: url('/mount.png');
    background-size: cover;
    background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card{
  display: block;
  text-align: center!important;
  max-width:80%;
  min-width: 500px !important;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  border-radius: 4.25rem!important;
  background-color: white!important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.btngroup{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.qtyNFT{
  max-width: 200px;
  min-width: 200px;
  border: solid #01A3A4 1px;
  border-radius: 4px;
  line-height: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

.ImgNft{
  border-radius: 50%;
  margin-top: -140px;

}

#MintBtn{
  background-color: #01A3A4!important;
  width: 40%;
  margin-bottom: 40px;
}

#nftBtn{
  /* border-radius: 50%; */
  /* line-height: 100%; */
  display: flex;
  background-color: #01A3A4!important;
}

.note p{
  font-size: small;
}

.note h3{
  font-size: smaller;
}
/* .card__container{
 display: flex;
 justify-content: center;
}
.card__main{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 70%;
    margin-bottom: 79px;
    padding: 58px 58px 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 8px;
    border-color: #1f2024;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: -3px 3px 0 0 #1f2024;
    text-align: center;

}
.mint__cardimage{
  width: 200px;
  margin: -120px auto 16px;
  border: 5px solid #000;
  border-radius: 100px;
}
.mint__cardimage img{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.card__main h1{
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 3em;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
} */